<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>About</title>
  </head>
  <body>
    <header class="about-header">About</header>
    <section class="about-container">
      <article>
        <div class="description-container">
          <h2>Please meet my cute cat</h2>
          <p>Her name is Gorosha, she is a huge suitcase enthusiast</p>
        </div>
        <div class="image-container">
          <img src="/images/suitcase-big.jpeg" alt="cat in a suitcase" />
        </div>
      </article>

      <article>
        <div class="image-container">
          <img
            src="/images/suitcase-small.jpeg"
            alt="cat sleeping in a suitcase"
          />
        </div>
        <div class="description-container">
          <h2>This suitcase had been standing there for like a week</h2>

          <p>
            I guess her pretty little head never got the idea that people
            weren't there to serve her
          </p>
        </div>
      </article>
      <a class="about-btn" href="/works">To her 'works' (whatever it may be)</a>
    </section>
  </body>
</html>
